.Comptences {
    display: flex;
    justify-content: space-between;
}

.CompetenceButton {
    display: flex;
    align-items: flex-end;
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.015em;
    border-radius: 12px;
    transition: .1s linear;
    padding: 12px 0;

    color: #323232;
    background-color: transparent;
    border: none;
}

.CompetenceButton:hover {
    background: #3FBAFF!important;
    color: #ffffff;
    padding: 12px 32px;
}

.CompetenceButton:hover .feedbackUnderline {
    border-color: #ffffff;
}

.CompetenceScreen {
    width: 66%;
}

.CompetencesTech {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3FBAFF;
    margin-bottom: 12px;
}

.CompetencesTechList {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #323232;
    margin-bottom: 12px;
}

.CompetenceImage {
    margin-right: 12px;
}