@font-face {
    font-family: 'Exotc350 Bd BT';
    src: local('Exotc350 Bd BT'), 
    url(../../fonts/exotc350bdbtrusbyme_bold.otf) format('truetype');
}

@font-face {
    font-family: 'Engravers Gothic';
    src: local('Engravers Gothic'), 
    url(../../fonts/Engravers/EngraversGothic-Bold.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@import url('http://fonts.cdnfonts.com/css/museo-sans-cyrl');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.ProjectsDesc {
    display: flex;
    justify-content: space-between;
}

.ProjectsDescLeft, .ProjectsDescRight {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #323232;
}

.ProjectsRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ProjectsBanner {
    height: 500px;
}

.ProjectsMobivetInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ProjectsMobivetHeader {
    font-family: 'Exotc350 Bd BT';
    font-style: normal;
    font-weight: 400;
    font-size: 45.9864px;
    line-height: 54px;
    color: #68C7F2;
}

.ProjectsMobivetText {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 21.2245px;
    line-height: 35px;
    text-align: center;
    color: #68C7F2;
}

.ProjectsMobivetSonofbitch {
    position: relative;
}

.Sonofbitch05, .Sonofbitch1 {
    position: absolute;
    bottom: 0;
}

.SonofbitchLeft {
    left: -43px;
    z-index: 1;
}

.SonofbitchCenter {
    z-index: 2;
}

.SonofbitchRight {
    left: 43px;
    z-index: 1;
}

.ProjectsOncoBanner {
    position: relative;
    overflow: hidden;
    padding: 0;
    max-width: 520px;
}

.OncoBackground {
    position: absolute;
    z-index: 1;
    left: -201px;
    top: 19px;
}

.ProjectsOncoContent {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ProjectsOncoInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProjectsOncoHeader {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #2F7F99;
}

.ProjectsOncoText {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    color: #3EAACC;
}

.ProjectsOncoContainerSlider {
    height: 174px;
    width: 100%;
}

.ProjectsOncoSlider {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 16.37px;
}

.oncoSliderElem {
    background-color: white;
    border-radius: 6.82289px;
    margin-right: 28.89px;
}

.ProjectsTrackerBanner {
    background: radial-gradient(55.78% 139.91% at 50% -36%, rgba(0, 194, 255, 0.2) 0%, rgba(65, 209, 255, 0) 100%), #000413;
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 55;
}

.TrackerChaos {
    position: absolute;
}

.TrackerChaos1 {
    width: 1302px;
    height: 1302px;
    left: -1026px;
    top: -259px;
}

.TrackerChaos2 {
    width: 986px;
    height: 986px;
    left: 1033px;
    top: -26px;
}

.ProjectsTrackerContent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ProjectsTrackerInfo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ProjectsTrackerHeader {
    font-family: 'Engravers Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #4FD5FF;
}

.ProjectsTrackerText {
    font-family: 'Engravers Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.ProjectsTrackerText1, .ProjectsTrackerText2 {
    text-align: center;
}

.ProjectsTrackerContainerPhone {
    width: 100%;
    height: 159px;
    display: flex;
    justify-content: center;
}

.TrackerPhone {
    width: 1150px;
    height: 585px;
}

.ProjectsMyWork {
    max-width: 520px;
    padding: 0;
}

.ProjectsMyWork {
    position: relative;
}

.ProjectsMyWorkBackground {
    position: absolute;
    z-index: 1;
}

.ProjectsMyWorkSymbol {
    position: absolute;
    z-index: 1;
    left: 330px;
    top: -131px;
}

.ProjectsMyWorkContent {
    width: 100%;
    height: 100%;
    padding: 32px;
    z-index: 20;
    position: relative;
}

.ProjectsMyWorkHeader {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 33px;
}

.ProjectsMyWorkDesc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.ProjectsEagleGo {
    padding: 0;
    height: 500px;
    display: flex;
    justify-content: space-between;
    z-index: 55;
}

.ProjectsEagleGoContent {
    background: #0D99FF;
    height: 100%;
    width: 100%;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.EagleGoLogo {
    width: 220.06px;
    height: 255.43px;
    margin-bottom: 26px;
}

.ProjectsEagleGoDesc {
    font-family: 'Museo Sans Cyrl', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.EagleGoGirl {
    background-color: #0D99FF;
}

.ProjectsVivat {
    display: flex;
    padding: 0;
}

.ProjectsVivatContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProjectsVivatInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.VivatLargeLogo {
    height: 189px;
    width: 336px;
}

.ProjectsVivatDesc {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    background: linear-gradient(
        161.22deg, 
        rgba(239, 255, 61, 0.75) -4.93%, 
        rgba(242, 255, 89, 0) 87.8%
    ), #5EDE6B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.ProjectsVivatScreen {
    display: flex;
    align-items: flex-end;
}

.ProjectsYNL {
    padding: 0;
}

.ProjectsYNLContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ProjectsYNLText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProjectsYNLHeader {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    opacity: 0.5;
}

.ProjectsYNLDesc {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.25;
}

.ProjectsYNLHeader, .ProjectsYNLDesc {
    width: 60%;
    text-align: center;
}

.ProjectsGlaucoma {
    padding: 0;
    position: relative;
    width: 520px;
}

.ProjectsGlaucomaContent {
    position: absolute;
    z-index: 2;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #6791D0;
    width: 100%;
    padding: 38px 42px;
}

.GlaucomaBackground {
    position: absolute;
    z-index: 1;
}

.ProjectsFemale {
    background: #C5F4EC;
    width: 740px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProjectsFemaleContent {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.ProjectsFemaleInfo {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.ProjectsFemaleHeader {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #006D65;
}

.ProjectsFemaleDesc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1EAEA3;
}

.ProjectsFemaleBackground {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.FemaleBackgroundShape {
    position: absolute;
    z-index: 1;
}

.FemaleBackgroundRoses {
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.FemaleBackgroundScreens {
    position: absolute;
    bottom: 0;
    z-index: 3;
}