@font-face {
    font-family: 'Panton';
    src: local('Panton'), url(../../fonts/Panton-SemiBold.ttf) format('truetype');
}

.navbar {
    height: 71px;
    display: flex;
    justify-content: center;
    z-index: 9999;
    padding: 0;
    position: fixed;
    background: #ffffff!important;
    opacity: 1;
    width: 100%;
}

.nav-link {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    letter-spacing: 0.015em;
}

.nav-link:hover {
    color: #3FBAFF;
    transition: .4s ease-out;
}

.nav-link:active {
    text-decoration: underline;
}

.mainButton {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    width: 200px;
    color: #323232;
    border: 1px solid #3FBAFF;
    border-radius: 16px;
    background: 
        linear-gradient(105deg, #3FBAFF 50%, #ffffff 50%) right/50% 100%,
        linear-gradient(90deg, #6892FF 7.24%, #7BD0FF 100%) left/52% 100%;
    background-size: 500%;
    transition: .8s ease-out;
}

.mainButton:hover {
    background-position: left;
    color: #FFFFFF!important;
}

.headerLang:hover {
    background: none!important;
    border: none!important;
}

.FormSubmitRow {
    justify-content: space-between;
    margin-top: 15px;
}

.FormSubmit {
    width: fit-content;
}

.FormContacts {
    width: fit-content;
    display: flex;
}

.FormContactsPhone, .FormContactsMail {
    width: fit-content;
    margin-left: 15px;
}